:root {
    /* ### Primary */
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}

body {
    font-size: 0.875rem;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

